[submodule "submodules/fzf"]
	path = submodules/fzf
	url = https://github.com/junegunn/fzf.git
	shallow = true
[submodule "submodules/diff-so-fancy"]
	path = submodules/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
	shallow = true
[submodule "submodules/git-log-compact"]
	path = submodules/git-log-compact
	url = https://github.com/mackyle/git-log-compact.git
	shallow = true
[submodule "submodules/tree-sitter-proto"]
	path = submodules/tree-sitter-proto
	url = https://github.com/mitchellh/tree-sitter-proto
[submodule "submodules/tldr-sh-client"]
	path = submodules/tldr-sh-client
	url = https://github.com/raylee/tldr-sh-client
[submodule "submodules/alacritty-ligature"]
	path = submodules/alacritty-ligature
	url = https://github.com/zenixls2/alacritty
	branch = new_ligature
[submodule "submodules/alacritty-theme"]
	path = submodules/alacritty-theme
	url = https://github.com/eendroroy/alacritty-theme
[submodule "submodules/entr"]
	path = submodules/entr
	url = https://github.com/eradman/entr
[submodule "submodules/zsh-snap"]
	path = submodules/zsh-snap
	url = https://github.com/marlonrichert/zsh-snap
