[submodule "submodules/fzf"]
	path = submodules/fzf
	url = https://github.com/junegunn/fzf.git
	shallow = true
[submodule "submodules/diff-so-fancy"]
	path = submodules/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
	shallow = true
[submodule "submodules/git-log-compact"]
	path = submodules/git-log-compact
	url = https://github.com/mackyle/git-log-compact.git
	shallow = true
[submodule "submodules/autojump"]
	path = submodules/autojump
	url = https://github.com/wting/autojump
	shallow = true
[submodule "submodules/wt-context-menu"]
	path = submodules/wt-context-menu
	url = https://github.com/kkredit/Windows-terminal-context-menu
[submodule "submodules/tree-sitter-proto"]
	path = submodules/tree-sitter-proto
	url = https://github.com/mitchellh/tree-sitter-proto
[submodule "submodules/tldr-sh-client"]
	path = submodules/tldr-sh-client
	url = https://github.com/raylee/tldr-sh-client
[submodule "submodules/alacritty-ligature"]
	path = submodules/alacritty-ligature
	url = https://github.com/zenixls2/alacritty
	branch = ligature
[submodule "submodules/alacritty-theme"]
	path = submodules/alacritty-theme
	url = https://github.com/eendroroy/alacritty-theme
