[submodule "submodules/fzf"]
	path = submodules/fzf
	url = https://github.com/junegunn/fzf.git
	shallow = true
[submodule "submodules/diff-so-fancy"]
	path = submodules/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
	shallow = true
[submodule "submodules/git-log-compact"]
	path = submodules/git-log-compact
	url = https://github.com/mackyle/git-log-compact.git
	shallow = true
[submodule "submodules/bash-git-prompt"]
	path = submodules/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt
	shallow = true
[submodule "submodules/tldr"]
	path = submodules/tldr
	url = https://github.com/raylee/tldr
	shallow = true
[submodule "submodules/autojump"]
	path = submodules/autojump
	url = https://github.com/wting/autojump
	shallow = true
[submodule "submodules/graphene"]
	path = submodules/graphene
	url = https://github.com/kkredit/Graphene
	shallow = true
[submodule "submodules/vscode-simple-vim"]
	path = submodules/vscode-simple-vim
	url = https://github.com/kkredit/vscode-simple-vim
	shallow = true
